.container {
    position: relative;
    max-width: 413px;
    max-height: 900px;
    margin: auto;
    text-align: center;
    border: 1px solid red;
    overflow: hidden;
}

.navbar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: flex-end;
    align-items: center;
    height: 42px;
    background-color: #ABC8C0;
    padding: 0 10px 0 10px;
}

h1 {
    margin: 0 0;
    font-family: "MedievalSharp", cursive;
}

p {
    color: black;
    font-family: "MedievalSharp", cursive;
}


#adventure-text {
    margin: 0 0;
    font-family: "Aboreto", system-ui;
    font-size: 40px;
    color: #9EE493;
}

#title-inverted {
    font-size: 96px;
    line-height: 0.5; 
    margin-top: 25px;
}

#title-world {
    font-size: 50px;
}

.circle {
    position: relative;
    left: -100px;
    border-radius: 50%;
    width: 600px;
    height: 500px;
    background-color: #ABC8C0;
    margin: auto;
    
}

.button {
    font-family: "Aboreto", system-ui;
    color: black;
    text-decoration: none;
    font-weight: 1200;
    background-color: #DAF7DC;
    border-radius: 5px;
    padding: 0 10px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}

.button a {
    display: block;
    border: 5px solid blue;
}